.users {
   display: grid;
   grid-template-rows: 35px auto;
   grid-row-gap: 1em;
   background: #ffffff;
   padding: 9px;
   // box-shadow: 0 5px 10px rgba(0, 0, 0, 0.45);
   border-radius: 3px;

   .button {
      justify-content: flex-end;
      display: flex;
   }
}

.table {
   background: #ffffff;
}
