.login-form {
   background: #00ca88;
   /* fallback for old browsers */
   background: -webkit-linear-gradient(to left, #00ca88, #00c3ff, #2a2ab5);
   /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to left, #00ca88, #00c3ff, #2a2ab5);
   height: 100vh;

   .form-login-box {
      border: 1px solid #cccccc;
      padding: 50px;
      border-radius: 2px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.45);
      background-color: #ffffff;

      .login-form-button {
         width: 100%;
         // margin-top: 24px;
         height: 40px;
         // padding: 40px;
      }

      .ant-input-lg {
         height: 40px;
         font-size: 16px;
      }
   }

   .ant-form-item-control {
      width: 400px;
   }

}
