.container {
  display: grid;
  padding: 15px;
  background: #ffffff;
  height: auto;
  border-radius: 5px;
  grid-template-rows: auto;
  grid-gap: 1em;
}
.search {
  display: grid;
  grid-template-columns: 300px;
  grid-gap: 1em;
  margin-bottom: 15px;
}
.content {
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 1em;
}
.pagination {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
}
