.body-edit{
    width: 100%;
}
.title{
    width: 100%;
    border-bottom: 1px solid gray;
    margin-bottom: .5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 1em;
}
:global(.form-edit){
    width: 700px;
    margin: auto;
    display: grid;
    grid-template-columns: 200px 350px;
    grid-template-rows: repeat(11,auto);
    grid-gap: 2em 1em;
}
:global(.form-edit)>div{
    font-size: 15px;
    font-weight: 600;
}
:global(.form-edit) .box-10{
    grid-column-start: 1;
    grid-column-end: 3;
}
.box_container{
    display: grid;
    grid-template-columns:  1fr 400px;
    grid-column-gap: 15px;
    height: 90vh;

}
:global(.card-body){
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
    
}
.formio_tranfer{
    margin-top: 1em;
    float: right;
}
 :global(.card-title){
    font-weight: 700;
    font-size: 18px;
    font-family: sans-serif;
    border-bottom: 1px solid;

 }
